In [ ]:
import pandas as pd
import networkx as nx
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data=pd.read_csv('drive/MyDrive/DM/suns-bucks-G6.csv', sep=',', engine='python', error_bad_lines=False)

In [ ]:
data = data[data['retweeted_status__user_id'].notna()]

In [ ]:
data['id_str'] = data['id_str'].apply(pd.to_numeric, args=('coerce',))

In [ ]:
data['retweeted_status__user_id']=data['retweeted_status__user_id'].round(0).astype(int)

In [ ]:
data=data[data['user_followers'] > 100] # numero minimo di follower che un user deve avere per essere nel grafo

In [ ]:
data.head()

   Unnamed: 0                       _id  ...               id_str     screen_name
0           0  60f74336b712538547cbf0fc  ...           1146370740       boi_guapo
1           1  60f74338b712538547cbf0fd  ...  1061255281341054977    Ahmedberhan1
2           2  60f7433ab712538547cbf0fe  ...            239012690  Pastor_KevyKev
4           4  60f7433bb712538547cbf100  ...  1281401105398796288     JohnnyLockz
5           5  60f7433eb712538547cbf101  ...           2945507472      KanJayW3st

[5 rows x 22 columns]

In [ ]:
df=data[['id_str','screen_name','retweeted_status__user_id','retweeted_status_user_name']]

In [ ]:
df=df.groupby(df.columns.tolist(),as_index=False).size().reset_index()
#df.columns=['id_str','retweeted_status__user_id','weight']
#df=df.drop(' index')
df=df.rename(columns={'id_str':'user.id_str','retweeted_status__user_id':'user_id_ret','size':'weight'})
df

       index          user.id_str  ... retweeted_status_user_name  weight
0          0                12225  ...     Bally Sports Wisconsin       1
1          1                20503  ...              Mike De Sisti       1
2          2                20503  ...            Milwaukee Bucks       1
3          3                20503  ...                 NBA on TNT       1
4          4                20503  ...                  Lily Zhao       1
...      ...                  ...  ...                        ...     ...
79633  79633  1417583932934135813  ...            Milwaukee Bucks       7
79634  79634  1417583932934135813  ...                     NBA TV       1
79635  79635  1417583932934135813  ...          Milwaukee Brewers       1
79636  79636  1417583932934135813  ...              Aaron Rodgers       1
79637  79637  1417583932934135813  ...        Freezing Cold Takes       1

[79638 rows x 6 columns]

In [ ]:
df1=df.groupby('retweeted_status_user_name')['weight'].sum().reset_index()

In [ ]:
df1=df1[df1['weight'] > 1000] # qua cambio il numero di retweet totali per cui un user ha poi la label

In [ ]:
df1

     retweeted_status_user_name  weight
1176                  Camisa 23    1977
2089                       ESPN    4395
2673          Green Bay Packers    1095
4549            Milwaukee Bucks    6046
4689                        NBA   10487
4696                 NBA Brasil    1446
4720                     NBA TV    6109
4734                 NBA on TNT    3549
4759            NOTSportsCenter    1089
6131               SportsCenter    2588
6544             TheBillRussell    1411
7676             shannon sharpe    2086

In [ ]:
#df[df['retweeted_status_user_name']=='Green Bay Packers']

In [ ]:
lista=df1.retweeted_status_user_name.to_list()

In [ ]:
lista

['Camisa 23',
 'ESPN',
 'Green Bay Packers',
 'Milwaukee Bucks',
 'NBA',
 'NBA Brasil',
 'NBA TV',
 'NBA on TNT',
 'NOTSportsCenter',
 'SportsCenter',
 'TheBillRussell',
 'shannon sharpe']

In [ ]:
labels=[]
for i in df.retweeted_status_user_name:
  if i in lista:
    labels.append(i)
  else:
    labels.append(' ')

In [ ]:
labels = pd.Series(labels)
df['labels']=labels

In [ ]:
labels

0
1
2        Milwaukee Bucks
3             NBA on TNT
4
              ...
79633    Milwaukee Bucks
79634             NBA TV
79635
79636
79637
Length: 79638, dtype: object

In [ ]:
df=df.drop(columns=['index'])

In [ ]:
df=df.reset_index(drop=True)

In [ ]:
df=df.rename(columns={'user.id_str':'source','user_id_ret':'target'})
df['source']=df['source'].round(0).astype(int)
df.head()

   source screen_name  ...  weight           labels
0   12225       satya  ...       1
1   20503     pageman  ...       1
2   20503     pageman  ...       1  Milwaukee Bucks
3   20503     pageman  ...       1       NBA on TNT
4   20503     pageman  ...       1

[5 rows x 6 columns]

In [ ]:
df[df['target']=='2279776304']

Empty DataFrame
Columns: [source, screen_name, target, retweeted_status_user_name, weight, labels]
Index: []

In [ ]:
df['source'] = df['source'].astype('|S80')
df['target'] = df['target'].astype('|S80')

In [ ]:
from google.colab import files
df.to_csv('Dataset_Gephi_retweet.csv')
files.download('Dataset_Gephi_retweet.csv')

In [ ]:
df.shape

(28676, 6)